[defaults]
remote_user = devops
inventory = ./inventory
collections_path = ./collections:/usr/share/ansible/collections
vault_identity_list = keycloak@keycloak-vault-pass
become_password_file = ./devops_become_password

[privilege_escalation]
become = true
become_method = ansible.builtin.sudo
become_user = root

[galaxy]
server_list = galaxy,automation_hub

[galaxy_server.galaxy]
url = https://galaxy.ansible.com

[galaxy_server.automation_hub]
url=https://console.redhat.com/api/automation-hub/content/published/ 
auth_url=https://sso.redhat.com/auth/realms/redhat-external/protocol/openid-connect/token
# Retrieve your token from: https://console.redhat.com/ansible/automation-hub/token